[user]
	email = porterglines@gmail.com
	name = po-gl
[diff]
	tool = vimdiff
[difftool]
	prompt = false
  trustExitCode = true # be able to abort diffs with :cq or :cquit
[alias]
	dt = difftool
	lg = log --color --graph --abbrev-commit --pretty=format:'%Cred%h%Creset - %s %Cgreen(%cr) %C(bold blue)<%an>%Creset %C(yellow)%d%Creset'
[merge]
	tool = vimdiff
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
